.row {
}
.TransparentButton {
    background: transparent;
    border: none;
    cursor: pointer;
}
.row_posters{
    display:flex;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 45px;
}
.row_posters::-webkit-scrollbar{
}

.row_poster{
    object-fit: contain;
    width:100%;
    max-height:100px;
    gap:4%;
    transition: transform 450ms;
}

.row_poster:hover{
    transform:scale(1.08);
}

.RowTitleTypography{
    color: #000;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2rem;
    font-weight: 800;
    line-height: 1.1;
    letter-spacing: 0.4px;
}